RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]
RewriteRule ^Home  index.php [NC,L]
RewriteRule ^Mus  music.php [NC,L]
RewriteRule ^Resu  result.php [NC,L]

